<h2>User profile:</h2>
<h3><strong>{{user.username}}</strong> <i>({{user.firstName}} {{user.lastName}})</i></h3>
<h2>Data:</h2>

{{#each tweets}}
    <div class="items">
      <div class="form-group">
        <p>{{this.date}}</p>
        <p>{{this.message}}</p>
         <div class="form-group">Tags: 
          {{#each this.tags}}
            <a class="btn btn-warning" href="/tag/{{this}}">{{this}}</a>
          {{/each}}
         </div>
      </div>
      <div class="form-group">
        {{#if ../currentUser}}
          {{#hasLiked ../currentUser this.id}}
            <form class="form center-form" id="dislike{{this.id}}" action="/dislike/{{this.id}}" method="post"></form>
            <a class="btn btn-danger" href="javascript:document.getElementById('dislike{{this.id}}').submit()">Dislike</a>
          {{else}}
            <form class="form center-form" id="like{{this.id}}" action="/like/{{this.id}}" method="post"></form>
            <a class="btn btn-success" href="javascript:document.getElementById('like{{this.id}}').submit()">Like</a>
          {{/hasLiked}}
        {{/if}}
        {{#if ../isAdmin}}
          <a class="btn btn-success" href="/edit/{{this._id}}">Edit</a>
          <a class="btn btn-danger" href="/delete/{{this._id}}">Delete</a>
        {{/if}}
      </div>
  {{else}}
    <p>No data to show.</p>
  {{/each}}