<h2>{{user.username}} statistics:</h2>
<p>{{user.firstName}} {{user.lastName}}</p>
{{#if user.blocked}}
  <p class="red">Blocked</p>
{{/if}}
{{#if isAdmin}}
  {{#if user.blocked}}
    <form class="form center-form" id="unblock" action="/users/unblock/{{user._id}}" method="post"></form>
    <a class="btn btn-success" href="javascript:document.getElementById('unblock').submit()">Unblock</a>
  {{else}}
    <form class="form center-form" id="block" action="/users/block/{{user._id}}" method="post"></form>
    <a class="btn btn-danger" href="javascript:document.getElementById('block').submit()">Block</a>
  {{/if}}
{{/if}}

<h2>Data:</h2>
